@import "../vars.scss";
@import "../mixins.scss";

.header {
  @include flexBetween;
  position: fixed;
  top: 0;
  padding: 0px 50px;
  width: 100%;
  height: $nav-height;
  background-color: $navy;
  transition: $transition;
  font-family: $font-mono;
  color: $lightest-slate;
  z-index: 11;
  filter: none !important;
  pointer-events: auto !important;
  user-select: auto !important;
  backdrop-filter: blur(10px);

  @media (max-width: 1080px) {
    padding: 0 40px;
  }
  @media (max-width: 768px) {
    padding: 0 25px;
  }

  .styledLinks {
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
      display: none;
    }

    ol {
      @include flexBetween;
      padding: 0;
      list-style: none;

      li {
        margin: 0 5px;
        position: relative;
        counter-increment: item 1;
        font-size: $fz-xs;

        a {
          padding: 10px;

          &:before {
            content: "0" counter(item) ".";
            margin-right: 5px;
            color: $purple;
            font-size: $fz-xxs;
            text-align: right;
          }
        }
      }
    }

    .button {
      margin-left: 15px;
    }
  }
}
